type project
authors Alexey Zimarev
projectUrl https://github.com/alexeyzimarev/ReactiveUI.Autofac
owners
	alexey_zimarev
description
	Autofac adapter for ReactiveUI, including Splat dependency resolver and registration extensions.
include-pdbs true